# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
._*

.vscode/
.idea/
.fleet/
.nova/
.zed/

*.swp
*.swo

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment & Secrets
# =========================
.env
.env.*
!.env.example

.env.backup
.env.production

auth.json

*.pem
*.key
*.crt

secrets/
credentials/

# =========================
# Laravel
# =========================
.phpactor.json
.phpunit.result.cache

/.phpunit.cache

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail

/vendor

Homestead.json
Homestead.yaml

# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build / Cache
# =========================
dist/
build/
out/

.cache/
.tmp/
temp/

coverage/

.next/
.nuxt/
.svelte-kit/

# =========================
# Releases
# =========================
releases/linux/*
releases/windows/*

# =========================
# Docker
# =========================
docker-data/
*.tar

# =========================
# Database
# =========================
*.sqlite
*.sqlite3
*.db

# =========================
# Backup / Temporary files
# =========================
*.bak
*.bkp
*.backup
*.tmp
*.temp